body{
    background-color: #F0EDE5;
    color: #67645C
}
.list-group-item {
    background: transparent;
    border-style: dashed;
    border-left: none;
    border-right: none;
}
.discuss-link-title, .discuss-link, .link-topic, .topic-ctn {
    color:#D66C2D;
}

/* center the navbar*/
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.center .dropdown-menu {
    text-align: left;
}
/* CONTAINER*/
.container-main{ 
    margin-top: 20px;
}

/* ASIDE */
.share-ctn{
    margin-top: 20px;
    background-color: rgba(223, 220, 211, .9);
}
.discuss-ctn{
    margin-top: 15px;
}
.discuss-ctn h6 {
    margin-bottom: 10px;
}
.discuss-link, .link-topic {
    text-decoration: underline;
}

/* FOOTER */
.footer-bottom {
	background: #010101;
    border-top: 1px solid #DDDDDD;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: right;
}